name: CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  run-tests:
    uses: ./.github/workflows/test.yml
    with:
      python-version: '3.11'

  deploy:
    needs: run-tests
    uses: ./.github/workflows/deploy.yml
    secrets:
      HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'