name: Deploy to Heroku
on:
  workflow_call:
    secrets:
      HEROKU_API_KEY:
        required: true

jobs:
  deploy:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: heroku/deploy-to-heroku@v2
        with:
          heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
          heroku_app_name: "projeto-poetry"
          heroku_email: "fernando.cbj.psy@gmail.com"